package __PACKAGE__NAME__

import (
	"fmt"
	"path/filepath"

	goi18n "github.com/EverlongProject/go-i18n/i18n"
	"github.com/EverlongProject/i18n4go/i18n"
)

var T goi18n.TranslateFunc

func init() {
	fmt.Println("DEBUG: this is a test i18n_init.go file")
	T = i18n.Init(__FULL_IMPORT_PATH__, i18n.GetResourcesPath())
}
